﻿@section head {
    <link href="@Url.Content("~/Content/lib/Cardboard/css/cardboard.css")" rel="stylesheet" type="text/css" />
}

@section scripts{
    @Farmas.Knockout(Url.Content("~/Content"))
    <script src="@Url.Content("~/Content/lib/Cardboard/js/cardboard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/features/cardboard/cardboard-sample.js")" type="text/javascript"></script>
}

<div id="board"></div>