﻿<span class="badge badge-secondary" style="float: right">Created on 2014</span>

<h2>Cardboard.js</h2>

<div class="content-text">
    <p>
        A simple team 'scrum' board that can be used with any back end.

        <ul>
            <li><a href="https://www.nuget.org/packages/Cardboard.Client/">Nuget Package (Client)</a></li>
            <li><a href="https://www.nuget.org/packages/Cardboard.Server/">Nuget Package (Server)</a></li>
            <li><a href="https://bitbucket.org/farmas/cardboard">Source</a></li>
            <li>@Html.ActionLink("Samples", "CardboardSample")</li>
        </ul>
    </p>
    <p>
        <br />
        <img style="width: 100%;" src="~/Content/images/Cardboard_Sample.png" />
    </p>
</div>
