﻿@section head {
    <link href='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.css' rel='stylesheet' type='text/css' />
}

@section scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCSharp.js' type='text/javascript'></script>
    <script language='javascript'>
    SyntaxHighlighter.config.bloggerMode = true;
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();
    </script>
}

<h2>Atlassian .NET SDK</h2>

<div class="content-text">
    <p>
        Utilities to interact with JIRA issue tracker. Includes a provider that allows querying JIRA using LINQ syntax. This project started during Fedex day at Atlassian and continued as a 20% project.

        <ul>
            <li><a href="http://nuget.org/List/Packages/Atlassian.SDK">Nuget Package</a></li>
            <li><a href="https://bitbucket.org/farmas/atlassian.net-sdk">Source</a></li>
        </ul>
    </p>
    <p>
        <br />
        <b>Sample:</b>
        <br />
<pre class="brush: csharp;">
// create a connection to JIRA
var jira = new Jira("http://", "", "");
// use LINQ syntax to retrieve issues
var issue = (from i in jira.Issues
              where i.Assignee == "admin" &amp;&amp; i.Priority == "Major"
              orderby i.Created
              select i).First();
// update an issue
issue.Summary = "New Summary";
issue.SaveChanges();
</pre>
    </p>
</div>
