﻿@section head {
    <link href='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.css' rel='stylesheet' type='text/css' />
}

@section scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCSharp.js' type='text/javascript'></script>
    <script language='javascript'>
        SyntaxHighlighter.config.bloggerMode = true;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>
}

<span class="badge badge-secondary" style="float: right">Created on 2010</span>

<h2>Lightweight Test Automation Framework (LTAF) - <i>Deprecated</i></h2>

<div class="content-text">
    <p>
        Web automation framework designed to run within an ASP.NET application.
        Tests can be written in any .NET language and use an API to manipulate the DOM of the browser.
        Started this project during my time in the ASP.NET team, main contributors were myself and Matthew Osborn.
        <ul>
            <li><a href="http://aspnet.codeplex.com/releases/view/35501">Source</a></li>
        </ul>
    </p>
    <p>
        <br />
        <b>Screen cast:</b>
        <br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yYNrA7Ax_m4?rel=0" frameborder="0" allowfullscreen></iframe>
        <br />
        <br />
        <b>Sample:</b>
        <br />
<pre class="brush: csharp;">
[WebTestMethod]
public void SignInAndSignOut()
{
    // Navigate to the login page
    HtmlPage page = new HtmlPage("Login.aspx");
    // Fill Login control user/password and click login button
    page.Elements.Find("UserName").SetText("ValidUser");
    page.Elements.Find("Password").SetText("foo");
    page.Elements.Find("LoginButton").Click(WaitFor.Postback);
    // Verify content of the Home page
    Assert.AreEqual("Welcome back ValidUser!",
        page.Elements.Find("LoginName1").GetInnerText());
}
</pre>
    </p>
</div>
