﻿<span class="badge badge-secondary" style="float: right">Created on 2018</span>
<h2>Seattle Public Library Chrome Extension</h2>

<div class="content-text">
    <p>
        Chrome extension that displays your checked out and held items from the Seattle Public Library. It uses an Azure Function backend that can query the library's web site on your behalf to get your items.
    </p>
    <p>
        <ul>
            <li>
                <a href="https://chrome.google.com/webstore/detail/seattle-public-library-st/mcnbnnlfhnckmklfjaiobhmdekhijfja">
                    Install from Chrome Web Store
               </a>
            </li>
            <li><a href="https://bitbucket.org/farmas-team/spl-chrome-extension">Source</a></li>
        </ul>
    </p>
    <p>
        <br />
        <img src="~/Content/images/spl-checkouts.png" />
    </p>
</div>
