﻿<span class="badge badge-secondary" style="float: right">Created on 2015</span>

<h2>VSJira</h2>

<div class="content-text">
    <p>

        Visual Studio Extension that adds tools to the IDE to interact with JIRA servers.

        <ul>
            <li><a href="https://visualstudiogallery.msdn.microsoft.com/32d406da-a2c4-4856-b1d7-c23cb2bc9750">Download from VisualStudio Gallery</a></li>
            <li><a href="https://bitbucket.org/farmas/vsjira">Source</a></li>
        </ul>
    </p>
    <p>
        <br />
        <img src="~/Content/images/VSJira.png" />
    </p>
</div>
