﻿@helper JQuery(string content)
{
    content = content + "/lib/jquery-1.11.3.min.js";

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<' + 'script src="@content")><\/script>')
    </script>
}

@helper JQueryUI(string content){
    content = content + "/lib/jquery-ui-1.11.4/jquery-ui.min.js";
    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
        window.jQuery.widget || document.write('<' + 'script src="@content")><\/script>')
    </script>
}
@helper Knockout(string content)
{
    content = content + "/lib/knockout-2.2.0.js";

    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.0.js"></script>
    <script>
        ko || document.write('<' + 'script src="@content")><\/script>')
    </script>
}

@helper Modenizr(string content)
{
    content = content + "/lib/modernizr-2.6.2.js";
    <script src="@content"></script>
}
