﻿@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            var loading = false;

            var getData = function () {
                loading = true;

                var dataTable = $('#dataTable');
                var spinnerRow = $('<tr class="spinnerRow"><td colspan="2"></td></tr>').appendTo(dataTable);
                var lastRowId = $('.rowId:last').data('id');

                $.get('/Json/GetContent', { start: lastRowId }, function (data) {
                    var rows = '';
                    _.each(data, function (row) {
                        rows += '<tr><td class=\'rowId\' data-id=' + row.id + '>' + row.id + '</td><td>' + row.name + '</td></tr>';
                    });

                    spinnerRow.remove();
                    dataTable.append(rows);
                    loading = false;
                });
            };

            var nearBottom = function () {
                var height = $(document).height() - $(window).height();
                var scroll = $(window).scrollTop() + 1;
                return scroll >= height;
            };

            $(window).scroll(function () {
                if (loading) {
                    return;
                }

                if (nearBottom()) {
                    getData();
                }
            });

            getData();
        });
    </script>
}

<table id="dataTable" class="table table-stripped">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                name
            </th>
        </tr>
    </thead>
</table>
