﻿@{
    ViewBag.Title = "Spiral";
}

@section head{
    <link href='@Url.Content("~/Content/lib/jquery-ui-1.11.4/jquery-ui.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/features/spiral/spiral.css")' rel="stylesheet" />
}

@section scripts{
    @Farmas.JQueryUI(Url.Content("~/Content"))
    <script src='@Url.Content("~/Content/features/spiral/spiral.js")'></script>
    <script>
        $(function () {
            var $text = $("#spiralText"),
                $degrees = $("#spiralDegrees"),
                $slider = $("#spiralSlider"),
                $spiral = $("#spiralDiv").spiral({
                    text: $text.val(),
                    degrees: $degrees.val()
                });

            $text.on("keyup", function (evt) {
                $spiral.spiral("option", "text", $text.val());
            });

            $degrees.on("change", function (evt) {
                $slider.slider("value", $degrees.val());
            });

            $slider.slider({
                min: 0,
                max: 50,
                value: $degrees.val(),
                change: function (evt, ui) {
                    $spiral.spiral("option", "degrees", ui.value);
                    $degrees.val(ui.value);
                }
            });

        });

    </script>
}

<h1>Spiral Widget</h1>
<div id="controls">
    <div class="form-group">
        <label for="spiralText">Text:</label>
        <input type="text" id="spiralText" value="I am a spiral!!" style="width: 160px;" />
    </div>
    <div class="form-group">
        <label for="spiralDegrees">Degrees:</label>
        <input type="text" id="spiralDegrees" value="10" style="width: 20px;" />
        <div id="spiralSlider"></div>
    </div>
</div>
<div id="spiralDiv"></div>
