﻿@{
    ViewBag.Title = "Weather";
}

@section head{
    <link href="@Url.Content("~/Content/features/weather/weather.less")" rel="stylesheet" type="text/css" />    
}

@section scripts{
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script>window.Backbone || document.write('<script src="@Url.Content("~/Content/lib/backbone-0.9.2.min.js")"><\/script>')</script>

    <script src="@Url.Content("~/Content/features/weather/weather.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/lightswitch/jquery.lightswitch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/lib/jquery.sortable.js")" type="text/javascript"></script>
}

<script type="text/html" id="cityLoadingTemplate">
    <div class="city-loading">
    </div>
</script>

<script type="text/html" id="cityErrorTemplate">
    <div class="city-controls">         
            <a href="#" class="city-remove">
                <img src="@Url.Content("~/Content/features/weather/remove.png")" />
            </a>
        </div>
    <div class="city-error">
        Error loading <b><%- zip%></b>
    </div>
</script>

<script type="text/html" id="cityTemplate">
    <div class="city-controls">         
        <a href="#" class="city-remove">
            <img src="@Url.Content("~/Content/features/weather/remove.png")" />
        </a>
    </div>
    <div class="city-image">
        <img src="<%- url %>" />        
    </div>
    <div class="city-temperature">
        <%- temperature %>°
    </div>
    <div class="city-name">
        <%- name %>, <%- state %>
    </div>
    
</script>

<script type="text/html" id="weatherTemplate">
    <div>
        <form class="form-inline">
            <input type="text" id="zipTextbox" style="width: 150px;" placeholder="Zip within the U.S." />
            <input type="submit" id="submitButton" class="btn btn-primary" value="Add" />
        </form>
    </div>
    <div class="app-controls">
        <a href="#" id="refreshLink"><img src="@Url.Content("~/Content/features/weather/weather-refresh.png")" /></a>
        <input type="checkbox" id="unitCheckbox" <% if(unit === 'C'){ %> checked="checked" <%}%>></input>
    </div>
    <div id="citiesDiv"></div>
    
</script>

<div id="appDiv"></div>

