﻿
@section head {
    <style>
        .screenshot {
            float:right;
        }
        .main-content {
            padding-right:610px;
        }
        #solutionList {
            list-style-type: none;
            width: 100px;
            
        }
        #solutionList li {
            border-bottom: 1px solid #F0E7E7; 
            margin-bottom: 20px;
        }
        .list-value {
            float: right;
        }
    </style>
}

@section scripts{
    <script src="@Url.Content("~/Content/features/ffxiii-2/paradox-solver.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var $text = $('#sequenceText').focus();

            $('#solveButton').click(function (evt) {
                var $error = $('#errorDiv').hide();
                var $ul = $('#solutionList').empty();

                var arr = _.map($text.val().split(','), function (e) { return parseInt(e.trim()); });
                var originalArray = arr.slice(0);
                var solution = farmas.solve(arr);

                if (solution) {
                    _.each(solution, function (e) {
                        var html = "<span class='list-position'>Pos: " + e + "</span>" +
                                   "<span class='list-value'>Val: " + originalArray[e] + "</span>";
                        $('<li>').html(html).appendTo($ul);
                    });

                    $ul.slideDown();
                }
                else {
                    $error.slideDown();
                }

                evt.preventDefault();
            });
        });

    </script>
}

<br />
<div class="screenshot">
    <img src="http://3.bp.blogspot.com/-AfWXBUqJ_tw/T5a1hiYDNWI/AAAAAAAABH4/kEXjFejv0Lw/s1600/clock.jpg" />
</div>
<div class="main-content">
    <form class="well form-inline">
        <label>Clock numbers:</label>
        <input type="textbox" id="sequenceText" class="span4" placeholder="Separate by commas start from top position." />
        <input type="submit" id="solveButton" class="btn btn-primary" value="Solve" />
    </form>

    <div id="errorDiv" class="alert alert-error" style="display:none;">
        No solution!
    </div>
    <ul id="solutionList"></ul>
</div>


