﻿@using WebSamples.Models.ViewModels
@using WebSamples
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lib/bootstrap-3.3.5/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    @Farmas.Modenizr(Url.Content("~/Content"))
    @RenderSection("head", required: false)
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Federico's Projects
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @{
                        var currentAction = (string)this.Request.RequestContext.RouteData.Values["action"];
                        var currentController = (string)this.Request.RequestContext.RouteData.Values["controller"];
                    }
                    <li class="@(currentAction.Equals("About") ? "active" : "")">
                        @Html.ActionLink("About", "About", "About")
                    </li>
                    <li>
                        <a href="http://federicosilva.net" target="_blank">Blog</a>
                    </li>
                </ul>
                <div class="navbar-text navbar-right">
                    Group Projects By:
                    &nbsp;&nbsp;<input type="radio" id="groupByTech" name="groupBy" value="tech" targeturl="/" @(ViewBag.RouteName == RouteConfig.RouteNames.Topics ? "checked" : "")>
                    <label for="groupByTech">Technology</label>

                    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="groupByYears" name="groupBy" value="years" targeturl="/Years/Active" @(ViewBag.RouteName == RouteConfig.RouteNames.Years ? "checked" : "")>
                    <label for="groupByYears">Years</label>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked red">
                    @foreach (NavigationItem section in ViewBag.Sections)
                    {
                        <li class="@(section.IsActive ? "active" : "")">
                            @Html.RouteLink(section.Section, section.RouteName, section.RouteValues)
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-10">
                @if (ViewBag.Tabs != null && ((IEnumerable<NavigationItem>)ViewBag.Tabs).Any())
                {
                    <ul class="nav nav-tabs">
                        @foreach (NavigationItem tab in ViewBag.Tabs)
                        {
                        <li class="@(tab.IsActive ? "active" : "")">
                            @Html.RouteLink(tab.Tab, tab.RouteName, tab.RouteValues)
                        </li>
                        }
                    </ul>
                }

                <div class="content">
                    @if (ViewBag.Overview != null)
                    {
                        <div class="alert alert-info alert-dismissible" role="alert">

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <span class="label label-default label-released-date">Created on @ViewBag.Overview.YearCreated</span>
                            <p class="overview-summary">
                                @ViewBag.Overview.Summary
                            </p>
                            <p class="overview-actions">
                                @if (ViewBag.Overview.SourceUrl != null)
                                {
                                    <a type="button" class="btn btn-default" href="@ViewBag.Overview.SourceUrl" target="_blank">
                                        <img src='@Url.Content("~/Content/images/bitbucket-icon.png")' style="width: 20px; height: 20px;" />
                                        Get Source
                                    </a>
                                }

                                @if (ViewBag.Overview.ExternalSite != null)
                                {
                                    <a type="button" class="btn btn-default" href="@ViewBag.Overview.ExternalSite" target="_blank">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                        Open Site
                                    </a>
                                }
                            </p>
                        </div>
                    }

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Farmas.JQuery(Url.Content("~/Content"))

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script>window._ || document.write('<script src="@Url.Content("~/Content/lib/underscore-1.3.1.js")"><\/script>')</script>

    @Farmas.JQuery(Url.Content("~/Content"))

    <script src="@Url.Content("~/Content/lib/bootstrap-3.3.5/js/bootstrap.min.js")"></script>

    <script>
        $('input[name=groupBy]').on('change', function () {
            var $radio = $(this);
            var targeturl = $radio.attr('targeturl');

            window.location.href = targeturl;
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
