﻿@{
    ViewBag.Title = ViewBag.Overview.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        function externalContentLoaded() {
            $('.loading').hide();
        }
    </script>
}

<div class="loading">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
</div>

<iframe src="@ViewBag.Overview.ExternalSite" frameborder="0" style="width: 100%; height: 1000px;" onload="externalContentLoaded();"></iframe>