﻿@using Microsoft.Owin.Security
@{
    ViewBag.Title = "OAuth";
}

@section Head{
    <style type="text/css">
        #oauth-container {
            text-align: center;
        }

        #oauth-title {
            margin-bottom: 50px;
        }

        #oauth-container img {
            width: 50px;
            height: 50px;
        }

        #oauth-results {
            margin-top: 50px;
        }

        .oauth-error {
            color: Red;
        }
    </style>
}

<div id="oauth-container">
    <h2 id="oauth-title">Authenticate using an External Provider</h2>

    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

        using (Html.BeginForm("ExternalLogin", "Auth"))
        {
            @Html.AntiForgeryToken()
            foreach (AuthenticationDescription p in loginProviders)
            {
                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Authenticate using your @p.Caption account">
                    <img src='@Url.Content("~/Content/features/openid/google-icon.png")' />
                </button>
            }
        }
    }

    <div id="oauth-results">
        @if (TempData.ContainsKey("error"))
        {
            <span class="oauth-error">@TempData["error"]</span>
        }
        @if (TempData.ContainsKey("email"))
        {
            <span>Email: </span><b>@TempData["email"]</b> <br /><br />
            <span>Name: </span><b>@TempData["name"]</b>
        }
    </div>
</div>