﻿
@section head {
    <link href="@Url.Content("~/Content/features/canvas-snake/canvas-snake.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .snake-controls button
        {
            float:right;
        }
    </style>
}

@section scripts{
    <script src="@Url.Content("~/Content/features/canvas-snake/canvas-snake.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var game = farmas.createSingleGame({
                setScore: function (score) {
                    $('#snake-score').text(score);
                }
            });

            $('body').keydown(function (e) {
                return game.handleKeydown(e);
            });

            $('#snake-restart').click(function () {
                game.start();
            });

            game.start();

        });
    </script>
}

<div class="snake-game">
    <div class="snake-instructions">
        Use <font face="symbol">&#220;</font>, <font face="symbol">&#221;</font>, <font face="symbol">&#222;</font> and <font face="symbol">&#223;</font> to move the snake.
        Eat the fruit!
    </div>
    <canvas id="game" width="820" height="420"></canvas>
    <div class="snake-controls">
        Score: <span id="snake-score">0</span>
        <button class="btn btn-primary" id="snake-restart">Restart</button>
    </div>
</div>

