﻿#appDiv {
  width:230px;
  margin-left:100px;
  margin-right:auto;

  form {
    text-align:right;
    padding-right:10px;
  }

  ul {
    list-style-type:none;
    margin:0;
    padding:0;

    li {
      box-sizing:border-box;
    }

    li.sortable-placeholder {
      border:1px dashed grey;
      margin:10px;
      height:80px;
      background:none;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;
      -khtml-border-radius:10px;
    }
  }
}

.city {
  box-sizing:border-box;
  border:1px solid grey;
  padding:10px;
  margin:10px;
  height:80px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  -khtml-border-radius:10px;
}

.city-name {
  font-family:Verdana;
  padding-left:60px;
}

.city-temperature {
  margin-top:-9px;
  font-size:21pt;
  font-weight:bold;
  padding-left:60px;
}

.city-controls {
  float:right;
}

.app-controls {
  text-align:right;
  padding-right:10px;
}

.app-controls span {
    position: relative;
    top: 7px;
}

.city-loading {
  background-image:url('/Content/images/spinnerLarge.gif');
  background-repeat:no-repeat;
  background-position:top;
  height:80px;
}

.city-error {
  background-color:#fa9b96;
  text-align:center;
  padding-top:14px;
}

.city-image {
  float:left;
}