﻿@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="content-text">
    <p>
        Hi, my name if <a href="http://federicosilva.net">Federico Silva Armas</a> and this website contains a collection of all my personal projects.
        For work related projects visit my <a href="https://www.linkedin.com/pub/federico-silva-armas/45/578/60a">LinkedIn</a> page.
    </p>
    <p>
        Unless specified all the project's source is available on <a href="https://bitbucket.org/farmas">Bitbucket</a>.
    </p>
    <b>Attributions:</b>
    <p>
        All attributions are specified on each project 
    </p>
</div>