﻿#controls
{
    float:left;
    margin-top:20px;
    width: 200px;
}
        
#spiralDegrees
{
    width:60px;
}
        
#spiralSlider
{
    margin-top: 10px;
}
        
#spiralDiv
{
    position: relative;
    left: 50%;
}

.farmas-spiral span
{
  font: 26px Monaco, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}