body {
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
}

.loading {
    position: absolute;
    left: 50%;
    top: 30%;
}

.spinnerRow {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .spinnerRow td {
        text-align: center;
        background-image: url('/Content/images/spinnerLarge.gif');
        background-repeat: no-repeat;
        background-position: center;
    }

.content {
    margin-top: 30px;
}

.label.label-released-date {
    float: right;
    font-size: inherit;
    margin-left: 5px;
}

.overview-summary {
    font-size: medium;
}

.alert > p.overview-actions {
    margin-top: 15px;
}

.content-text {
    padding-left: 20px;
    padding-right: 300px;
}
